html, body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  overflow: hidden;
}

canvas {
  display: block;
  padding: 0;
  margin: 0;
}
